/* src/components/Songplayer/Songplayer.css */
.player {
    width: 100%;
    max-width: 600px;
    margin: auto;
    /* background-color: black; */
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .controls button {
    padding: 8px 12px;
    background-color: #38c5fd;
    /* color: white; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .controls button:hover {
    background-color: #6f00ff;
  }
  