.landing-page-container {
   display: flex;
   /* height: calc(100vh - 60px); */
   padding-top: 60px;
}

.main-content {
   flex: 1;
   padding: 20px;
}

.albums-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   padding: 20px;
   padding-left: 25%;
}

.album-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   width: 200px;
   height: 300px;
   border: 2px solid #333;
   border-radius: 10px;
   padding: 10px;
   background-color: white;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   cursor: pointer;
}

.album-circle img {
   /* width: 100px; */
   /* height: 200px; */
   border-radius: 50%;
   border-color: black;
   object-fit: cover;
   margin-bottom: 10px;
   transition: transform 0.3s ease;
}

.album-circle img:hover {
   transform: scale(1.05);
   cursor: pointer;
}

.album-card-image {
   width: 100%;
   height: 150px;
   object-fit: cover;
   border-radius: 8px;
   margin-bottom: 10px;
}
