body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}




.nav-container {
  background-color: #121b2a;
  padding: 20px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}




.nav-left{
  display:flex;
  align-items: center;
  gap: 10px;
}




.Logo {
  height: 120px;
  width:auto;
}




.site-name {
  font-size: 24px;
  font-weight: bold;
  color: #FD7238;
}








.search-icon{
  color: #666;
  font-size: 16px;
}








.search-bar {
  width: 500px;
  height: auto;
  border-radius: 50px;
}




.search-bar::placeholder {
  font-size: 15px;
}




/* moved to profilebutton.css */
/* .profile-dropdown {
  font-size: large;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 200px;
  padding: 10px 0;
  list-style: none;
  margin: 0;
} */




/* .profile-dropdown li {
  padding: 8px;
  list-style: none;
  border-radius: 5%;
  border-color: red;
} */




.side-bar {
  position: fixed;
  top: 105px;  
  width: 15%;
  height: calc(100vh - 105px);
  background-color: #121b2a;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




.all-songs-header,
.my-songs-header {
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #FD7238;
    margin-bottom: 10px;
}




.user-song {
    background-color: #c71d54;
}




.song-item {
    margin: 4px 0;
    padding: 8px;
    border-radius: 4px;
}




.song-link {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
}




.song-link:hover {
    color: rgb(67, 156, 184);
}




.songs-list {
    color: #c71d54;
    /* overflow-y: auto; */
    max-height: calc(100% - 100px);
}




.nav-link {
  padding: 8px 16px;
  margin: 0 10px;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}


a.song-link {
  color: #c71d54;
}


button.like-button {
  background-color: transparent;
  border-color: transparent;
  color: #FD7238;
  size: 25px;
}

