.profilebox {
    padding-left: 20%;
}


.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profileinfo{
    display: flex;
    align-items: center;
}

.details{
    display: flex;
    flex-direction: column;
}

.details p {
    margin: 20px;
    font-size: 30px;
}
